<center><h1><u> Movie Trivia </u></h1></center>

<center><h3> Choose the movie that matches the year 
<%= @answer.year %>
to win! </h3></center>

<% @the_movies.each do |movie| %>

<button>
	<img src="<%= movie.poster %>" height="256" width="168" 
		<% if movie.year == @answer.year %>
			onclick = "alert('Congrates you win! <%= movie.title%> was the correct answer!')">
		<% else %>
			<img src="<%= movie.poster %>" height="256" width="168" 
			onclick = "alert('Wrong choice. This movie came out <%= movie.year%>, Try again')">	
		<% end %>	
</button>

	<% end %>

