<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1><%= @my_project.name %></h1>
<ul>
	<% @my_entries.each do |entry| %>
	<li>
		<%= entry.hours %> 
		<%= entry.minutes %> 
		<%= entry.date %>
		<p> <%= entry.comments %> </p>
	</li>
	<% end %>
</ul>

<a href="/products/<%= @my_project.id %>/time_entries">
	
</a>
</body>
</html>