<!DOCTYPE html>
<html>
<head>
	<title></title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css"/> 	
</head>
<body>

<center>
	<%= link_to("Create new event", new_concert_path) %>
	<h2><u>Todays Concerts</u></h2>

	<% @todays_concerts.each do |show| %>
	<li>
		<h3><%= show.artist %></h3>
		Venue: <%= show.venue %><br>
		City: <%= show.city %><br>
		Date: <%= show.date %><br>
		Price: <%= show.price %><br>
		<p><%= show.description %></p>
		<p><u>Comments</u></p>
		<p><%= show.comments %></p>
	</li>
		<% end %>

<div> 
	<h2><u>All Concerts</u></h2>

	<% @concerts_array.each do |show| %>
	<li>
		<a href="/concerts/<%=show.id%>">
		<h3><%= show.artist %></h3>
		</a>
		Date: <%= show.date %><br>

	</li>
		<% end %>
</div>

</center>


</body>
</html>

