<!DOCTYPE html>
<html>
<head>
	<title></title>
    <meta charset="UTF-8">
	<link rel="stylesheets" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">	
</head>
<body>

<center><h2><u>
	Details of your seletion
</u></h2>
		<h3><%= @the_concert.artist %></h3>
		Venue: <%= @the_concert.venue %><br>
		City: <%= @the_concert.city %><br>
		Date: <%= @the_concert.date %><br>
		Price: <%= @the_concert.price %><br>
		<p><%= @the_concert.description %></p><br>
		<p><u>Comments</u></p>
		<p><%= @the_concert.comments %></p>
	</li>




<%= form_for [@the_concert] do |f| %>

	<%= f.label :comments %>
	<%= f.text_field :comments %>
	<br>
	<%= f.button "Submit" %><br>
	<%= link_to('Cancel', concerts_path) %>
<% end %>



<a href="/concerts">Go Back</a>
</center>


</body>
</html>