<center><h2><u>
	Details of your seletion
</u></h2>
		<h3><%= @the_concert.artist %></h3>
		Venue: <%= @the_concert.venue %><br>
		City: <%= @the_concert.city %><br>
		Date: <%= @the_concert.date %><br>
		Price: <%= @the_concert.price %><br>
		<p><%= @the_concert.description %></p>
	</li>
		<% end %>
<a href="/concerts/new">Go Back</a>
</center>